@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,900&family=Zen+Dots&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  background: #000;
}

.hero {
  font-family: "Zen Dots", cursive;
  display: flex;
  background: url(../img/yobg01.jpg);
  background-size: cover;
  height: 100vh;
  align-items: center;
}

.name {
  font-size: 2rem;
  display: block;
  letter-spacing: 5px;
  text-decoration: underline;
  li
}

.name h1 {
  color: 3268cd
}

.hero h1 {
  display: block;
  margin-left: 70px;
  font-size: 3rem;
  border-left: 5px solid #3268cd;
  padding-left: 15px;
  max-width: 50%;
}

.hero h1 span {
  color: #ffae00;
}

.hero h1 {
  color: #fff;
  transition: 1s;
}

.nav {
  margin-top: -100px;
  /* background: #000; */
}

.nav a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  padding-right: 10px;
}

.nav a:hover {
  color: #ffae00;
  transition: 0.5s;
}

.nav a:active {
  color: #ffae00;
}

.nav .links {
  display: flex;
  margin-left: 50px;
}

.nav .links li {
  border-right: 2px solid #3268cd;
  /* margin-left: 20px; */
  text-decoration: none;
  list-style: none;
}

.nav .links li:first-child {
  border-left: 2px solid #3268cd;
}

.nav .links li i {
  color: #fff;
  margin: 0 15px;
  padding-bottom: 15px;
}

.nav .links li i:hover {
  color: #ffae00;
  transition: 0.5s;
}

.nav .links li i:active {
  color: #ffae00;
}

/* --- ABOUT --- */

.nav1 {
  display: flex;
  background: #000;
  padding: 10px 20px;

  justify-content: space-between;
  align-items: center;
}

.nav1 a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  padding-right: 10px;
}

.nav1 a:hover {
  color: #ffae00;
  transition: 0.5s;
}

.nav1 .links {
  display: flex;
  margin-left: 50px;
}

.nav1 .links li {
  border-right: 2px solid #3268cd;
  /* margin-left: 20px; */
  text-decoration: none;
  list-style: none;
}

.nav1 .links li:first-child {
  border-left: 2px solid #3268cd;
}

.nav1 .links li i {
  color: #fff;
  margin: 0 15px;
  padding-bottom: 15px;
}

.nav1 .links li i:hover {
  color: #ffae00;
  transition: 0.5s;
}

.logo img {
  width: 50px;
  border-radius: 50%;
}

section {
  max-width: 55%;
  margin: 0 auto;
  margin-bottom: 100px;
}

section h2 {
  font-size: 2rem;
  color: #ffae00;
  margin: 40px 0px 10px 0px;
}

section .experiencia {
  margin-bottom: -100px;
}

.container {
  margin-top: -80px;
  background: #000000;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

.timeline {
  color: #fff;
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
  cursor: pointer;
}

.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content .date {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.timeline-content h2 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ffae00;
  letter-spacing: 3px;
}

.timeline-content h4 {
  font-size: 0.9rem;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 1rem;
  line-height: 25px;
  font-weight: 300;
}
@media only screen and (min-width: 768px) {
  .timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3268cd;
  }

  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: gray;
    border-radius: 50%;
    top: 0;
  }
  .timeline ul li:nth-child(odd)::after {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::after {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline ul li:hover::after {
    background-color: #ffae00;
  }
}

/* ----- Portafolio ----- */

.encabezado h2 {
  text-align: center;
  font-size: 3rem;
  color: #ffae00;
  margin: 50px 0;
}

container .video {
  display: flex;
  width: 50%;
  margin: 0 auto;
}

.video .player {
  display: block;
  margin: 0 auto;
  align-items: center;
}
